.tituloTienda{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.divSpinner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divSpinner1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSpinner{
    max-width: 3rem;
}