.imgLogo {
  max-width: 6rem;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
}

.container-fluid {
  background-color: #C8DBBE;
}
