.imgCarrito {
  max-width: 2.8rem;
  max-height: 2.8rem;
}

.divCarrito {
  display: flex;
}

.carrito {
  display: flex;
}

.totalCarrito{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}